.playlists{
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .add{
    margin-right: 85.5%;
    margin-bottom: 1vw;
    width: 14.5%;
    button{
      width: 100%;
      font-size: .8vw;
      padding: .2vw .8vw;
    }
  }
  .playlists-wrapper{
    position: relative;
    button{
      position: absolute;
      z-index: 1;
      top: 1vw;
      left: 0;
      opacity: 0;
      transition: .2s ease-in-out;
    }
    &:hover{
      button{
        left: 1vw;
        opacity: 1;
      }
    }
  }

}
