<div class="player" *ngIf="playerService.track?.id" [@fadeInOut]>
  <div class="player-info">
    <div class="wave-wrapper">
      <span class="w1" [class.bar]="playerService.playing"></span>
      <span class="w2" [class.bar]="playerService.playing"></span>
      <span class="w3" [class.bar]="playerService.playing"></span>
      <span class="w4" [class.bar]="playerService.playing"></span>
    </div>
    <div class="player-image">
      <ng-container *ngIf="playerService.artist">
        <img [src]="'assets/images/artists/'+ playerService.artist.cover" alt="player-image">
      </ng-container>
      <ng-container *ngIf="!playerService.artist">
        <img [src]="'assets/images/artists/'+ playerService.track.artists[0].cover" alt="player-image">
      </ng-container>

    </div>
    <div class="player-text">
      <p>Now playing</p>
      <div class="text-animate">
        <ng-container *ngIf="playerService.track.explicit">
          <mat-icon>explicit</mat-icon>
        </ng-container>
        <ng-container *ngIf="playerService.artist != undefined">
          <p>{{playerService.track.name}} - {{playerService.artist.artist}} {{[playerService.artist] | features : playerService.track : artists}}</p>
        </ng-container>
        <ng-container *ngIf="playerService.artist == undefined">
          <p>{{playerService.track.name}} - {{playerService.track | owner}} {{playerService.track.artists | features : playerService.track : artists}}</p>
        </ng-container>

      </div>
    </div>
  </div>
  <div class="player-actions">
    <div class="player-actions-top">
      <button mat-fab  (click)="previousTrack()" [disabled]="!playerService.queuePosition" mat-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-fab mat-button class="play" (click)="pauseOrContinueTrack()">
        <ng-container *ngIf="!playerService.playing">
          <mat-icon >play_arrow</mat-icon>
        </ng-container>
        <ng-container *ngIf="playerService.playing">
          <mat-icon>pause</mat-icon>
        </ng-container>

      </button>
      <button mat-fab (click)="nextTrack()" [disabled]="!(playerService.queue.length - playerService.queuePosition - 1)" mat-button>
        <mat-icon >skip_next</mat-icon>
      </button>
    </div>
    <div class="player-actions-bottom">
      <p>{{playerService.currentTime | date: 'mm:ss'}}</p>
      <mat-slider [min]="0" [max]="playerService.duration" [value]="playerService.currentTime" step="1" #seekSlider (change)="seekTrack(seekSlider.value)" (input)="seeking(seekSlider.value)"></mat-slider>
      <p>{{playerService.duration | date: 'mm:ss'}}</p>
    </div>

  </div>
  <div class="player-volume">
    <mat-icon>volume_up</mat-icon>
    <mat-slider value="100" min="0" max="100" step="1" role="slider" aria-label="slider" #slider (input)="changeVolume(slider.value)"></mat-slider>
  </div>
</div>
