table{
  tr{
    position: relative;
    .delete{
      opacity: 0;
      position: absolute;
      right: 100px;
      top: 3.5px;
      transition: .2s ease-in-out;
    }
    .edit{
      opacity: 0;
      position: absolute;
      left: -10px;
      top: 3.5px;
      transition: .2s ease-in-out;
    }
  }
  tr{
    &:hover{
      .delete{
        right: 120px;
        opacity: 1;
      }
      .edit{
        left: 20px;
        opacity: 1;
      }
    }
  }
}
