.navigation{
  .active{
    color: #fe2c55;
  }
  p{
    margin-left: 3vw;
    font-weight: 500;
    font-size: 13px;
    color: #b3b3b3;
  }
  mat-nav-list{
    padding: 0;
    mat-list-item{
      a{
        padding-left: 2vw;
        height: 30px;
        font-size: 15px;
        display: flex;
        font-weight: 500;
        align-items: center;
        mat-icon{
          margin-right: 1vw;
          color: #1f1f1f;
          transition: .3s ease-in-out;
        }
        &:hover{
          color: #fe2c55;
          mat-icon{
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
.show{
  display: block;
  mat-list-item{
    a{
      color: #5b5b5b;
      mat-icon{
        color: #b3b3b3 !important;
      }
    }
  }
}
.active{
  color: #fe2c55 !important;
}
.close{
  display: none;
}
.indent{
  position: relative;
  a{
    position: absolute;
    left: 50px;
    top: 5px;
  }
}

@media screen and (max-width: 991px) {
      .navigation{
        p{
          font-size: 1.3vw;
          margin-left: 5vw;
          margin-top: 2vw;
        }
        mat-nav-list{
          mat-list-item{
            height: 4vw;
            a{
              padding-left: 4vw;
              font-size: 1.8vw;
              height: 4vw;
            }
          }
        }
      }
}
@media screen and (max-width: 768px) {
      .navigation{
        p{
          font-size: 1.5vw;
          margin-left: 5vw;
          margin-top: 2vw;
        }
        ul{
          li{
            height: 5vw;
            a{
              padding-left: 4vw;
              font-size: 2vw;
              height: 4vw;
            }
          }
        }
      }
}
@media screen and (max-width: 576px) {
      .navigation{
        p{
          font-size: 2vw;
          margin-left: 5vw;
          margin-top: 4vw;
        }
        mat-nav-list{
          mat-list-item{
            height: 7vw;
            a{
              padding-left: 4vw;
              font-size: 2.5vw;
              height: 7vw;
            }
          }
        }
      }
}
@media screen and (max-width: 420px) {
      .navigation{
        p{
          font-size: 3vw;
          margin-left: 8vw;
          margin-top: 3vw;
        }
        mat-nav-list{
          mat-list-item{
            height: 10vw;
            a{
              padding-left: 6vw;
              font-size: 4vw;
              height: 10vw;
            }
          }
        }
      }
}
