<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div class="form">
  <form [formGroup]="form">
    <mat-form-field class="input-wrapper" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error>
        <ng-container *ngIf="form.get('email')?.hasError('required')">
          Email is required.
        </ng-container>
        <ng-container *ngIf="form.get('email')?.hasError('email')">
          Email is invalid. (eq. johndoe@gmail.com)
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-wrapper" appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>
        <ng-container *ngIf="form.get('password')?.hasError('required')">
          Password is required.
        </ng-container>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="login()" [disabled]="form.invalid">Login</button>
  </form>
</div>

